apiVersion: v1
kind: Secret
metadata:
name: regcred
namespace: adoreal
type: kubernetes.io/dockerconfigjson
stringData:
.dockerconfigjson: |
{
"auths": {
"ghcr.io": {
"auth": "REPLACE_BASE64_AUTH"
}
}
}